/* TODO: inserite il CSS necessario per completare il MHW! */
.choice-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.choice-grid div{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: calc( 32.5% - 22px );
    background-color: #f4f4f4;
    border: 1px #dcdcdc;
    padding: 10px;
    margin-bottom: 20px;
}

.choice-grid div.selezionato{
    background-color: #cfe3ff;
}

.opacity{
    opacity: 0.6;
}

.risposta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 20px;
    border: 10px;
    border-color: black;
}

.risposta h1,
.risposta span{
    margin-bottom: 18px;
}

.bottone{
    background-color: #cecece;
    height: 50px;
    justify-content: center;
    font-size: larger;
    margin-top: 18px;
}

.bottone:hover{
    background-color: #e0e0e0;
}

@media (max-width: 700px){

    article{
        width: 95%;
    }

    header div span{
        background-color: transparent;
    }
}

@media (max-width: 500px){

    .choice-grid div{
        width:  calc(49% - 22px);;
    }

}